[submodule "submodules/trusted-firmware-m"]
	branch = meriac
	path = submodules/trusted-firmware-m
	url = https://github.com/meriac/trusted-firmware-m
[submodule "submodules/mbedtls"]
	branch = mbedtls-2.6
	path = submodules/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "submodules/CMSIS_5"]
	path = submodules/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
